

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}






* {
    box-sizing: border-box;
}



/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

body{
  height: 100vh ; 
	width:100%;
	margin:0px;
	padding:110px;
	
	background: linear-gradient(270deg, #728699, #58abd2, #6b76b2, #6bb2a9);
background-size: 800% 800%;

-webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
-o-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;
	

	}



.header {
    text-align: center;
    padding: 122px;
	margin-top: -200px;
}



div.gallery {
    margin: 5px;
    border: 0px solid blue;
    float: left;
    width: 250px;
}

div.gallery:hover {
    border: 0px solid #777;
}

div.gallery img {
    width: 100%;
	height: 200px;

}

div.desc {
    padding: 25px;
    text-align: center;
}